.Chat{
  background-color: #CCD1D6;
  height: 100%;
  flex-grow: 1;

  &__Header{
    width: 100%;
    background-color: #ffffff;
    height: 70px;
    border-left: 1px solid #CCD1D6;
    border-bottom: 1px solid #CCD1D6;
    padding: 10px 10px 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 0px 4px 0px rgba(97, 97, 97, 0.20), 1px 0px 2px 0px rgba(97, 97, 97, 0.20);
    -webkit-box-shadow: 1px 0px 4px 0px rgba(97, 97, 97, 0.20), 1px 0px 2px 0px rgba(97, 97, 97, 0.20);
    -moz-box-shadow: 1px 0px 4px 0px rgba(97, 97, 97, 0.20), 1px 0px 2px 0px rgba(97, 97, 97, 0.20);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-family: 'Roboto', sans-serif;
  }

  &__Header-Сompanion-Title{
    color: #114475;
    font-weight: bold;
  }

  &__Header-Companion-Online{
    color: #2580DB;
    margin-top: 7px;
    letter-spacing: 0.4px;
    line-height: 20px;
    position: relative;

    &:before{
      content: '';
      display: block;
      width: 10px;
      border-radius: 50%;
      height: 10px;
      position: absolute;
      left: -14px;
      top: 5px;
      background-color: #01BF93;
    }
  }

  &__Header-Companion-Writing{
    position: relative;
    left: -12px;
    margin-top: 7px;
    display: flex;
    align-items: center;
  }

  &__Header-Companion-Writing-Dot{
    width: 4px;
    height: 4px;
    background-color: #2580DB;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 0;
    animation: typing 1.5s infinite;
    display: block;


    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }

  &__Header-Companion-Writing-Title{
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 20px;
    color: #2580DB;
    margin-left: 4px;
  }

  &__Body{
    height: calc(100vh - 70px - 55px);
    overflow: auto;
    padding: 0 30px 20px 30px;

    &::-webkit-scrollbar {
      width: 14px;
    }

    &::-webkit-scrollbar-track {
      //box-shadow: inset 0 0 14px 14px transparent;
      border: solid 4px transparent;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 16px 16px rgba(17, 68, 117, 0.7);;
      border: solid 4px transparent;
      border-radius: 14px;
    }

    @media screen and (max-width: 900px) {
      padding: 0 20px 20px 20px;
    }

    @media screen and (max-width: 900px) {
      padding: 0 10px 20px 10px;
    }
  }

  &__Message-From{
    display: flex;
    margin-top: 20px;
    padding: 8px 16px 6px 16px;
    width: fit-content;
    max-width: 470px;
    min-height: 36px;
    border-radius: 16px 16px 4px 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(28, 41, 61, 0.12), 0px 0px 1px 0px rgba(28, 41, 61, 0.20);
  }

  &__Message-From-Content{
    color: #114475;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }

  &__Message-From-Time{
    color: #798CA5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0.4px;
    padding-bottom: 3px;
    padding-left: 10px;
    display: flex;
    align-items: flex-end;
  }

  &__Message-To{
    display: flex;
    margin-top: 20px;
    padding: 8px 16px 6px 16px;
    width: fit-content;
    max-width: 470px;
    min-height: 36px;
    border-radius: 16px 16px 4px 16px;
    background-color: #267FDB;
    box-shadow: 0px 2px 4px 0px rgba(28, 41, 61, 0.12), 0px 0px 1px 0px rgba(28, 41, 61, 0.20);
    margin-left: auto;
  }

  &__Message-To-Content{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }

  &__Message-To-Time{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0.4px;
    padding-bottom: 3px;
    padding-left: 10px;
    display: flex;
    align-items: flex-end;
  }

  &__Message-Date{
    margin: 20px auto;
    border-radius: 17px;
    background: #7D98B3;
    width: fit-content;
    max-width: 250px;
    padding: 8px 16px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0.4px;
    box-shadow: 0px 2px 4px 0px rgba(28, 41, 61, 0.12), 0px 0px 1px 0px rgba(28, 41, 61, 0.20);
  }

  &__Write {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 17px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(97, 97, 97, 0.20), 0px 0px 2px 0px rgba(97, 97, 97, 0.20);
    -moz-box-shadow: 0px 0px 4px 0px rgba(97, 97, 97, 0.20), 0px 0px 2px 0px rgba(97, 97, 97, 0.20);
    box-shadow: 0px 0px 4px 0px rgba(97, 97, 97, 0.20), 0px 0px 2px 0px rgba(97, 97, 97, 0.20);
  }

  &__Write-Input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid transparent;
    background: #E7ECF1;
    padding: 5px 16px;
    color: #6D84A0;
    letter-spacing: 0.4px;
    font-size: 14px;
    transition: 0.1s linear;
    font-family: 'Roboto', sans-serif;

    &::placeholder{
      color: #6D84A0;
      letter-spacing: 0.4px;
      line-height: 20px;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
    }

    &:focus{
      border-color: #6D84A0;
      outline: none;
    }
  }
}
