.Chat {
  &__Message-From{
    display: flex;
    margin-top: 20px;
    padding: 8px 16px 6px 16px;
    width: fit-content;
    max-width: 470px;
    min-height: 36px;
    border-radius: 16px 16px 4px 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(28, 41, 61, 0.12), 0px 0px 1px 0px rgba(28, 41, 61, 0.20);
  }

  &__Message-From-Content{
    color: #114475;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }

  &__Message-From-Time{
    color: #798CA5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0.4px;
    padding-bottom: 3px;
    padding-left: 10px;
    display: flex;
    align-items: flex-end;
  }

}